@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESETS */
html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

/* CUSTOM MOBILE MENU */  
@keyframes fade-in {
    from {
        visibility: hidden;
        opacity: 0;
    }

    1% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }

    99% {
        visibility: visible;
        opacity: 0;
    }

    to {
        visibility: hidden;
        opacity: 0;
}
}

.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:hover {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5d690bc0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5d690ba2;
}

/* PREVENTING STYLING FROM FORM AUTOFILL */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: white;
}

/* CUSTOM INPUT ERRORS */
li input.error {
    border-color: #DD0040;
    
}

li input:valid {
    border-color: white;
    
}

textarea.error {
    border-color: #DD0040;
    
}

textarea:valid {
    border-color: white;
    
}

.error-message {
    color: #DD0040;
    font-size: 1rem;
    display: none;
}

.error-message.show {
    display: block;
}